<html>

<head>
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">

<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script> 
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.6.0.js"> </script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="http://172.28.90.252:7777/reviewPieController.js"></script>
<style>
			.row {
				margin-bottom: 2%;
			}
</style>
</head>
<body ng-app="hackdayGui">
	   <div ng-Controller="mainController">		
		   <div class="panel-body">
			<div class="col-md-2"></div>
			<div class="col-md-8">
		                <div class="row productSearch" id="productIdDiv">
					        <label  class="col-sm-2 control-label">Product Id</label>
					        <div class="col-sm-8">
		                        		<textarea class="form-control input-lg" rows="3" ng-model="productIdStr" style="width:100%"></textarea>		                       				                
					        </div>
				</div>
 
	                        <div class="row productSearch" >
		                	<label class="col-sm-2 control-label"></label>
		                	<div class="col-md-8">
		      					<!-- Just to center align the next column -->
		      				</div>
		                	<div class="col-md-4" >
		                		<button type="submit" class="btn btn-primary btn-lg" ng-click="productSearch()">Search Products</button>
		                	</div>
		                </div>	
                                
				<div class="row">
					<div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
				</div>

                                <div class="row">
                                        <div id="container2" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
                                </div>
			</div>
		</div>
	</div>
</body>
</html>
